@use 'variables' as *;

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);

  background-color: var(--bg-color);
  color: var(--text-color);
}

.bg-gray-50 {
  background-color: #f9fafb;
}
.bg-gray-100 {
  background-color: #f3f4f6;
}
.bg-gray-200 {
  background-color: #e5e7eb;
}
.bg-gray-300 {
  background-color: #d1d5db;
}
.bg-gray-400 {
  background-color: #9ca3af;
}
.bg-gray-500 {
  background-color: #6b7280;
}
.bg-gray-600 {
  background-color: #4b5563;
}
.bg-gray-700 {
  background-color: #374151;
}
.bg-gray-800 {
  background-color: #1f2937;
}
.bg-gray-900 {
  background-color: #111827;
}
